.date {
  display: flex;
  justify-content: space-between;
}
.main-container {
  display: flex;
  justify-content: space-between;
  flex: 2 1 auto;
}

.address {
  width: 1000px;
  padding: 5px;
}

.message {
  padding: 10px;
}
